<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">

            <div class="container">
                <div class="row align-item-center">
                  <div class="col-sm">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h5 class="card-title"><%= group.name %></h5>
                          <h6 class="card-subtitle mb-2 text-muted"> District: <%= group.district %> </h6>
                          <p class="card-text"><%= group.description %> </p>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="col-sm">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                              <h5 class="card-title">Recent Transactions</h5>
                              <h6 class="card-subtitle mb-2 text-muted"> Account No: <%=group.accountNo %></h6>
                              <h6 class="card-subtitle mb-2 text-muted"> Account Bal: Ksh <%=group.accountBal%></h6>
                              <h6 class="card-subtitle mb-2 text-muted">Recent Transactions</h6>
                              <a href="#" class="card-link">Add Credit</a>
                              <a href="#" class="card-link">Load More </a>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="col-sm">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                              <h5 class="card-title">Farmer Members </h5>
                              <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                  Bruce Banner
                                  <span class="badge badge-primary badge-pill">0114319920</span>
                                </li>
                              </ul>
                              <form action="/admin/load-farmer" method='POST'>
                                <input type="hidden" name="accountNo" value="<%= group.accountNo %>">
                                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                                <button class="btn card-link " type="submit">Load Farmer</button>
                              </form>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>

        </main>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <%- include('../includes/end.ejs') %>